composer.lock
/coverage
/node_modules
/public/build
/public/hot
/public/data
/public/fonts
/public/images
/public/storage
/public/js
/public/css
/public/css-rtl
/public/vendors
/public/mix-manifest.json
/storage/*.key
/vendor
/.vscode
*.sublime-project
*.sublime-workspace
_ide_helper.php
.DS_Store
.env
.env.backup
.idea
.php_cs.cache
.phpunit.result.cache
.phpstorm.meta.php
composer.phar
coverage.xml
docker-compose.override.yml
error.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
supervisord.log
supervisord.pid
docker/logs/nginx
